#actualites {
    margin: 5%;
    text-align: center;
    font-size: 4rem;
    color:white;
    background-color: rgb(0, 0, 10, 0.2); /* ou text-shadow */
}

section {
    padding: 3%;
    background-color: rgb(0, 0, 10, 0.45);
}

article {
    height: 50vh;
    display: flex;
    flex-direction: row;
    background-color: whitesmoke;
    padding: 2%;
    margin-bottom: 5%;
    border-radius: 14px;
    opacity: 0.9;
}

article img {
    border-radius: 10px;
}

article:last-child {
    margin-bottom: 0;
}

.texte {
    margin-left: 2%;
}

.texte h2 {
    margin-bottom: 5%;
    font-size: 1.5rem;
}

.texte p {
    font-size: 1rem;
    text-align: justify;
}