#conteneurCarteCommunes {
    display: flex;
    justify-content: center;
}

#carteCommunes {
    width: 70%;
    height: 750px;
}

#communes h1 {
    margin: 5%;
    text-align: center;
    font-size: 4rem;
    color:white;
}