* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: white;
}

.conteneur {
    display: flex;
    justify-content: space-evenly;
}

.demarches {
    text-align: center;
    margin-bottom: 20%;
}
.orientation-conteneur h1 {
    color: white;
    text-align: center;
}
.demarches h2{
    margin-bottom: 10px;
    color: white;
}

.demarches a {
    text-decoration: none;
}

.demarches img {
    border-radius: 15px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    transition: transform 0.2s;
}

.demarches img:hover {
    transform: scale(1.08);
    border-color: blue}

.abonnement-conteneur {
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 20px;
    text-align: left;
    margin: 0 3rem;
}

.abonnement-conteneur h2, .abonnement-conteneur h3 {
    font-size: 24px;
    margin-top: 10px;
}

.abonnement-conteneur p {
    margin-bottom: 10px;
}
