#titleFormContactFAQ, #titleFAQ {
    padding: 3rem;
    font-size: 2.5rem;
    color: white;
}

#formContactFAQ {
    color: white;
}

.accordion, #formContactFAQ {
    margin-inline: 3%;
}

#contenuFAQ {
    background-color: rgb(0, 0, 10, 0.45);
}

#titleFormContactFAQ {
    margin-top: 5%;
}

.champ {
    width: 45%;
}

@media only handheld and (max-width: 699px) {
    #titleFormContactFAQ, #titleFAQ {
        font-size: 1.5rem;
        padding: 1rem;
    }

    #titleFormContactFAQ {
        padding: 5%;
        text-align: justify;
    }

    #titleFormContactFAQ h2 {
        font-size: 20px;
    }

    .champ {
        width: 80%;
    }

    #formContactFAQ {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}