#formContactFAQ {
    color: white;
    width: 70%;
}

#titleFormContactFAQ, #titleFAQ{
    padding: 3rem;
    font-size: 2.5rem;
    color: white;
}

#titleContenuFAQ {
    margin: 5%;
    text-align: center;
    font-size: 4rem;
    color:white;
}

.accordion, #formContactFAQ {
    margin-left: 3%;
}

#contenuFAQ {
    background-color: rgb(0, 0, 10, 0.45);
}

#titleFormContactFAQ {
    margin-top: 5%;
}