/*----------
    NAVBAR
----------*/
.navigation {
    position: sticky;
    width: 100%;
    top: 0;
}

nav {
    width: 100%; /*TODO : faire mieux*/
    height: 15vh;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    background: rgb(0, 0, 0, 0.6);
    backdrop-filter: blur(2px);
    z-index: 1500;
}

.nav-droite {
    display: inherit;
    justify-content: space-between;
    opacity: 1;
    transform: translateY(0);
    -webkit-transition : all 0.3s ease-out;
    transition : all 0.3s ease-out;
    width: 100%;
    padding-left: 3%;
    top: 0;
}

.nav-gauche img {
    width: 180px;
    height: 98px;
    margin-left: 5%;
}

.navigation ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.navigation li {
    display: inline-flex;
}

.navigation a {
    text-decoration: none;
    font-size: 1.5em;
    font-weight: bold;
}

/*sous-menus */
.navigation ul ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    border-radius: 6px;
    z-index: 1;
    margin-left: 0;
    margin-right: 0;
    text-align: center;
}

.navigation ul li:hover > ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.navigation ul li ul {
    width: 100%;
    background: rgb(255, 255, 255, 0.8);
}

/* TODO
#searchbar{
    margin-top: -5%;
    padding:1%;
    border-radius: 100px;
    width: 5%;
    background: rgb(0, 0, 0, 0);
    color:white;
    min-width: max-content;
}
*/

.navigation ul {
    list-style: none;
}

.navigation li a {
    color: white !important;
    font-weight: 500;
    transition: all 200ms linear;
}

.nav-item:hover .nav-link{
    color: #48a853 !important;
}

.navigation li:after {
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 2px;
    content: '';
    background-color: #48a853;
    opacity: 0;
    transition: all 200ms linear;
}

.navigation li:hover:after {
    bottom: 0;
    opacity: 1;
}

.navigation li.active:hover:after{
    opacity: 0;
}

.navigation li {
    position: relative;
    padding: 0 20px;
    transition: all 200ms linear;
}

.navigation li:first-child, .navigation ul li ul li {
    border-left: none;
}

.navigation ul li ul li {
    padding: 0;
}

.navigation ul li ul li a {
    font-size: 18px;
    color: black !important;
}

/************
IMG FOND
************/

body{
    background-image: url('../images/fond-accueil.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    z-index: -1;
}

/************
FOOTER
************/

footer{
    height: 22vh;
    display: flex;
    justify-content: space-evenly;
    gap: 10%;
    padding: 1% 3%;
    margin-top: 5%;
    background: rgb(0, 0, 0, 0.65);
    color: white;
}

#divFooterGauche {
    display: inherit;
    flex-direction: column;
    justify-content: space-evenly;
}

#divFooterGauche h2 {
    font-size: 1.5rem;
    margin: 0;
}

#divFooterGauche p {
    font-size: 1rem;
    margin: 0;
}

#divFooterCertifs {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#divFooterCertifs img {
    margin: 5px;
}

#divFooterDroite {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#divFooterDroite p {
    margin: 0;
}

#iconesContact {
    display: flex;
    flex-direction: row;
}

#iconesContact img {
    width: 2.5rem;
    background-color: #48a853;
    transition: background-color 0.3s;
    border-radius: 1rem;
    padding: 0.3rem;
    margin: 0 0.2rem;
}

#iconesContact img:hover {
    background-color: white;
}

#iconesContactSocial {
    display: flex;
    flex-direction: row;
}

#iconesContactSocial img {
    width: 2.5rem;
    background-color: #48a853;
    transition: background-color 0.3s;
    border-radius: 1rem;
    padding: 0.3rem;
    margin: 0 0.2rem;
}

#iconesContactSocial img:hover {
    background-color: white;
}

@media (max-width: 699px) {
    /*TODO : petit écran */
}