/*----------
    NAVBAR
----------*/
.navigation {
    position: sticky;
    width: 100%;
    top: 0;
}
.navigation ul {
    list-style: none;
}

.navigation li {
    display: inline-flex;
    position: relative;
    margin-right: 100px;
    white-space: pre;
}

.navigation a {
    text-decoration: none;
    color: white;
    font-size: 200%;
    font-weight: bold;
}
/*sous-menus */
.navigation ul ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background: black;
    border-radius: 6px;
    z-index: 1;
    margin-left: 0;
    margin-right: 0;
}

.navigation ul li:hover > ul {
    display: block;
    margin-left: 0;
    margin-right: 0;
}

.navigation ul ul li:hover {
    background-color: grey;
    margin-left: 0;
    margin-right: 0;
}
.navigation ul ul ul {
    top: 0;
    left: 50%;
    margin-left: 0;
    margin-right: 0;
}
nav {
    width: 100%; /*faire mieux*/
    display: flex;
    flex-direction: row;
    align-items: center;
    background: rgb(0, 0, 0, 0.6);
    backdrop-filter: blur(2px);
    z-index: 1500;
}
.nav-droite {
    display: inherit;
    justify-content: flex-start;
    margin-left: 5%;
}
.nav-droite h2 {
    color: black;
    font-size: 23px;
    margin: 20px;
    white-space: nowrap;
}

/************
RESTE
************/

body{
    background-image: url('../images/fond-accueil.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    z-index: -1;
}

footer{
    display: flex;
    justify-content: space-between;
    padding: 1% 3%;
    margin-top: 5%;
    background: rgb(0, 0, 0, 0.65);
    color: white;
    font-size: 1.2rem;
}


/*DARK MODE*/
.dark-mode {
    background-color: #1c1c1e;
    color: #fefefe;
}