/*----------
    NAVBAR
----------*/
.navigation {
    position: sticky;
    width: 100%;
    top: 0;
}

nav {
    width: 100%; /*TODO : faire mieux*/
    display: flex;
    flex-direction: row;
    align-items: baseline;
    background: rgb(0, 0, 0, 0.6);
    backdrop-filter: blur(2px);
    z-index: 1500;
}

.nav-droite {
    display: inherit;
    justify-content: space-between;
    opacity: 1;
    transform: translateY(0);
    -webkit-transition : all 0.3s ease-out;
    transition : all 0.3s ease-out;
    position: sticky;
    width: 100%;
    top: 0;
}

.nav-gauche img {
    width: 180px;
    height: 98px;
}

.navigation ul {
    list-style: none;
}

.navigation li {
    display: inline-flex;
}

.navigation a {
    text-decoration: none;
    color: white;
    font-size: 1.5em;
    font-weight: bold;
}
/*sous-menus */
.navigation ul ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    border-radius: 6px;
    z-index: 1;
    margin-left: 0;
    margin-right: 0;
}

.navigation ul li:hover > ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.navigation ul li ul {
    width: 100%;
    background-color: black;
}
/* TODO
#searchbar{
    margin-top: -5%;
    padding:1%;
    border-radius: 100px;
    width: 5%;
    background: rgb(0, 0, 0, 0);
    color:white;
    min-width: max-content;
}
*/

.navigation ul {
    list-style: none;
}

.navigation li a {
    color: white !important;
    font-weight: 500;
    transition: all 200ms linear;
}

.nav-item:hover .nav-link{
    color: #48a853 !important;
}

.navigation li:after {
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 2px;
    content: '';
    background-color: #48a853;
    opacity: 0;
    transition: all 200ms linear;
}
.navigation li:hover:after {
    bottom: 0;
    opacity: 1;
}
.navigation li.active:hover:after{
    opacity: 0;
}
.navigation li{
    position: relative;
    padding: 0 20px;
    transition: all 200ms linear;
}

.navigation li:first-child, .navigation ul li ul li {
    border-left: none;
    padding-left: 0;
}


/************
IMG FOND
************/

body{
    background-image: url('../images/fond-accueil.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    z-index: -1;
}

/************
FOOTER
************/

footer{
    display: flex;
    justify-content: space-between;
    padding: 1% 3%;
    margin-top: 5%;
    background: rgb(0, 0, 0, 0.65);
    color: white;
    font-size: 1.2rem;
}

footer #divFooterCertifs {
    display: flex;
    flex-direction: column;
}

footer #divFooterCertifs img {
    margin: 5px;
}

footer #divFooterDroite #iconesContact {
    display: flex;
    flex-direction: row;
}

footer #divFooterDroite #iconesContact img {
    background-color: #48a853;
    transition: background-color 0.3s;
    border-radius: 1rem;
    padding: 0.3rem;
    margin: 0 0.2rem;
}
footer #divFooterDroite #iconesContact img:hover {
    background-color: white;
}

footer #divFooterDroite #iconesContactSocials {
    display: flex;
    flex-direction: row;
}

footer #divFooterDroite #iconesContactSocials img {
    background-color: #48a853;
    transition: background-color 0.3s;
    border-radius: 1rem;
    padding: 0.3rem;
    margin: 0 0.2rem;
}

footer #divFooterDroite #iconesContactSocials img:hover {
    background-color: white;
}
