:root {
    --d: 700ms;
    --e: cubic-bezier(0.19, 1, 0.22, 1);
}

.accueil {
    height: 70vh;
}

.accueil h1 {
    color: white;
    padding-top: 10%;
    text-align: center;
}

/*--------------Démarches------------*/

.demarches-conteneur {
    padding-top: 2%;
    height: 90vh;
    background-color: white;
}

#titreDemarches {
    margin: 5%;
    text-align: center;
    font-size: 4rem;
    color: black;
}

.conteneur {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.demarches {
    text-align: center;
    margin-bottom: 2%;
}
.orientation-conteneur h1 {
    color: black;
    text-align: center;
}
.demarches h2 {
    color: black;
    font-size: 18px;
    margin-top: 5%;
}

.demarches a {
    text-decoration: none;
}

.demarches img {
    width: 220px;
    height: 220px;
    object-fit: cover;
    border-radius: 30px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    transition: transform 0.2s;
}

.demarches img:hover {
    transform: scale(1.08);
    border-color: #0000ff;
}

.abonnement-conteneur {
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 20px;
    text-align: left;
    margin: 0 3rem;
}

.abonnement-conteneur h2, .abonnement-conteneur h3 {
    font-size: 24px;
    margin-top: 10px;
}

.abonnement-conteneur p {
    margin-bottom: 10px;
}


/*--------------Actualités------------*/
::-webkit-scrollbar {
    display: none;
}

.actualites {
    padding-top: 2%;
    height: 90vh;
    background-color: #0a53be;
}

#titreActus {
    margin-inline: 2%;
    margin-top: 2%;
    margin-bottom: 12%;
    text-align: center;
    font-size: 4rem;
    color: white;
}

.conteneur-actus {
    width: 55vh;
    height: 100vw;
    transform: rotate(-90deg) translateX(-40vh);
    transform-origin: top left;
    overflow-x: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.horizontalBloc {
    display: flex;
    flex-direction: row;
    width: 200vw;
    height: 50vh;
    transform: rotate(90deg) translateY(-40vh);
    transform-origin: top left;
    margin-left: 100px;
}

.carte {
    position: relative;
    width: 60vw;
    height: 60px;
    display: flex;
    align-items: flex-end;
    overflow: hidden;
    margin: 0.5rem;
    padding: 1rem;
    text-align: center;
    color: whitesmoke;
    background-color: whitesmoke;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1), 0 4px 4px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.1), 0 16px 16px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}
@media (min-width: 600px) {
    .carte {
        height: 350px;
    }
}

.carte:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 110%;
    background-size: cover;
    background-position: 0 0;
    transition: transform calc(var(--d) * 1.5) var(--e);
    pointer-events: none;
}

.carte:after {
    content: '';
    pointer-events: none;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.009) 11.7%, rgba(0, 0, 0, 0.034) 22.1%, rgba(0, 0, 0, 0.072) 31.2%, rgba(0, 0, 0, 0.123) 39.4%, rgba(0, 0, 0, 0.182) 46.6%, rgba(0, 0, 0, 0.249) 53.1%, rgba(0, 0, 0, 0.320) 58.9%, rgba(0, 0, 0, 0.394) 64.3%, rgba(0, 0, 0, 0.468) 69.3%, rgba(0, 0, 0, 0.540) 74.1%, rgba(0, 0, 0, 0.607) 78.8%, rgba(0, 0, 0, 0.668) 83.6%, rgba(0, 0, 0, 0.721) 88.7%, rgba(0, 0, 0, 0.762) 94.1%, rgba(0, 0, 0, 0.790) 100%);
    transform: translateY(-50%);
    transition: transform calc(var(--d) * 2) var(--e);
}

.carte:nth-child(1):before {
    background-image: url("../images/actualites/enquete-medicaments.jpg");
}
.carte:nth-child(2):before {
    background-image: url("../images/actualites/tempete-philippe.jpg");
}
.carte:nth-child(3):before {
    background-image: url("../images/actualites/augmentation-prix-electricite.jpeg");
}
.carte:nth-child(4):before {
    background-image: url("../images/actualites/eau-non-potable.jpg");
}
.carte:nth-child(5):before {
    background-image: url("../images/actualites/brigade-gendarmerie.jpeg");
}
.carte:nth-child(6):before {
    background-image: url("../images/actualites/semaine-bleue.jpg");
}
.carte:nth-child(7):before {
    background-image: url("../images/actualites/conseil-secu-onu.jpg");
}
.carte:nth-child(8):before {
    background-image: url("../images/actualites/mardi-gras-gagnant.jpg");
}


.contenu {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 1rem;
    transition: transform var(--d) var(--e);
    z-index: 1;
    background-color: rgb(0, 0, 10, 0.45);
    border-radius: 7px;
}

.title {
    font-size: 1.3rem;
    font-weight: bold;
    line-height: 1.2;
}

.texte {
    font-size: 1.125rem;
    font-style: italic;
    line-height: 1.35;
}
@media (hover: hover) and (min-width: 600px) {
    .carte:after {
        transform: translateY(0);
    }
    .contenu {
        transform: translateY(calc(100% - 4.5rem));
    }
    .contenu > *:not(.title) {
        opacity: 0;
        transform: translateY(1rem);
        transition: transform var(--d) var(--e), opacity var(--d) var(--e);
    }
    .carte:hover, .carte:focus-within {
        align-items: center;
    }
    .carte:hover:before, .carte:focus-within:before {
        transform: translateY(-4%);
    }
    .carte:hover:after, .carte:focus-within:after {
        transform: translateY(-50%);
    }
    .carte:hover .contenu, .carte:focus-within .contenu {
        transform: translateY(0);
    }
    .carte:hover .contenu > *:not(.title), .carte:focus-within .contenu > *:not(.title) {
        opacity: 1;
        transform: translateY(0);
        transition-delay: calc(var(--d) / 8);
    }
    .carte:focus-within:before, .carte:focus-within:after, .carte:focus-within .contenu, .carte:focus-within .contenu > *:not(.title) {
        transition-duration: 0s;
    }
}

/*--------------Communes------------*/
#communes {
    width: 100%;
    height: 90vh;
    padding-top: 2%;
    background-color: #279335;
}

#communes h1 {
    margin: 2%;
    text-align: center;
    font-size: 4rem;
    color: white;
}

#carteAccueil {
    display: flex;
    justify-content: center;
    align-items: center;
}