*,
*::before,
*::after {
    box-sizing: border-box;
}

/*body {
    font-size: 1.2rem;
    line-height: 1.6rem;
    min-height: 100vh;
}*/

article {
    width: 80%;
    height: 34vh;
    background-color: white;
    margin-bottom: 5%;

}

article img {
    width: fit-content;
    height: fit-content;
    float: left;
    object-fit: contain;
}


.texte {
    margin-left: 2%;
}
