*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-size: 1.2rem;
    line-height: 1.6rem;
    min-height: 100vh;
}

article {
    width: 80%;
    height: 34vh;
    background-color: white;
    border: 1px darkgray solid;
}

article img {
    float: left;
    object-fit: cover;
}


.texte {
    margin-left: 2%;
}

.texte h2 {
    font-size: 50px;
}

.texte p {
    font-size: 15px;
}