#vieQuotidienne h1 {
    margin: 5%;
    text-align: center;
    font-size: 4rem;
    color: white;
}

#se-deplacer {
    background: rgb(0, 0, 0, 0.6);
    border-radius: 10px;
}

#se-deplacer h2 {
    padding: 3rem;
    font-size: 2.5rem;
    color: white;
}

#cartes {
    padding: 3rem;
}

#gymnases h2 {
    padding: 3rem;
    font-size: 2.5rem;
    color: white;
}

#gymnases p {
    padding: 2rem;
    font-size: 1.5rem;
    color: white;
}

#conteneurCarteGym {
    display: flex;
    justify-content: center;
}

#carteGymnases {
    width: 70%;
    height: 750px;
}

/*--------------Petit écran------------*/
@media (max-width: 699px) {
    /*TODO : mettre en colonne se déplacer*/
}